<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-dark text-light">
            <div class="container-fluid">


                <div class="d-flex justify-content-start"><a th:text="|${currentUser.username} with roles:|">USERNAME</a>

                    <a class="text ms-1" th:each="role: ${currentUser.getRoles()}">
                        <div class="d-flex justify-content-start"><a th:text="${role.getName()} ">role</a></div>
                    </a>
                </div>

                <form class="d-flex" th:method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout" class="btn btn-outline-light">

                </form>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-2 bg-light">
            <ul class="nav nav-pills nav-fill mt-4" aria-orientation="vertical">
                <div class="column">
                    <li class="nav-item">

                        <a class="nav-link active" aria-current="page" href="/admin/users/">Admin</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/userspace/{id}(id=${currentUser.getId()})}">User</a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-8  text-center">
            <div class="mt-4 mb-4">
                <h1>Admin panel</h1>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/users">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/new">New user</a>
                    </li>
                </ul>
            </div>
            <form style="max-width: 400px; margin: auto" th:action="@{/admin/new}" th:method="POST" th:object="${user}">

                <h1 class="h3 mb-3 font-weight-normal mt-4">Create user</h1>
                <div class="d-grid gap-2 col-6 mx-auto">

                    <label for="login" class="sr-only">Username</label>
                    <input type="text" th:field="*{username}" id="login" class="form-control" required
                           autofocus/>

                    <label for="password" class="sr-only">Password</label>
                    <input type="text" th:field="*{password}" id="password" class="form-control"/>

                    <div class="mt-2">
                        <label>Roles:</label>

                        <select class="form-select mt-2" size="2" multiple aria-label="size 2 multiple select example" th:field="*{roles}">

                                <option th:each="role : ${showRoles}" name="roles" th:text="${role.name}" th:value="${role.id}">One</option>

                        </select>

                    </div>
                </div>


                <input type="submit" value="Create new user" class="btn btn-warning mt-3">
            </form>
        </div>
    </div>

</div>

<script src="/js/jquery-3.5.1.js"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
